
##### Exclude IDE files #####
.idea/
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

##### Exclude Gradle files #####
.gradle

##### Exclude backend project file #####
aria2-backend/node_modules
aria2-backend/package-lock.json
aria2-backend/aria2c.log
aria2-backend/aria2.session
aria2-backend/aria2c.exe
aria2-backend/aria2c
aria2-backend/ca-certificates.crt

##### Exclude frontend project file #####
aria2-frontend/node_modules
aria2-frontend/package-lock.json
aria2-frontend/npm-debug.log
aria2-frontend/.vscode/*
!aria2-frontend/.vscode/settings.json
!aria2-frontend/.vscode/tasks.json
!aria2-frontend/.vscode/launch.json
!aria2-frontend/.vscode/extensions.json
aria2-frontend/.history/*
aria2-frontend/.angular
