
##### Exclude IDE files #####
.idea/
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

##### Exclude Gradle files #####
.gradle

##### Exclude backend project file #####
backend/node_modules
backend/public
backend/public/downloads/*
backend/package-lock.json
backend/aria2c.log
backend/aria2.session
backend/aria2c.exe
backend/aria2c
backend/ca-certificates.crt
backend/aria2-backend-app.log

##### Exclude frontend project file #####
frontend/node_modules
frontend/package-lock.json
frontend/npm-debug.log
frontend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json
frontend/.history/*
frontend/.angular

##### Exclude Docker build files #####
build
